.outputContainer {
    width: 50%;
}

.outputContainer__viewButtons {
    display: flex;
    align-items: center;
}

.outputContainer__viewButtons button {
    margin: 0 5px;
}

.outputContainer__viewButtons p {
    padding-top: 3px;
    margin: 0;
}

.outputContainer__button {
    font-size: 12px;
}

.outputContainer__button--selected {
    font-weight: bold;
}