.outputContainer {
    margin-top: 10px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    background-color: white;
}

.outputContainer__viewButtons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.outputContainer__viewButtons button {
    margin: 0 5px;
}

.outputContainer__viewButtons p {
    padding-top: 3px;
    margin: 0;
}

.outputContainer__button {
    font-size: 18px;
}

.outputContainer__button--selected {
    font-weight: bold;
}

@media (max-width: 600px) {
    .outputContainer {
        margin-left: 15px;
        margin-right: 15px;
    }
}