.raceInfoInput {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.raceInfoInput__input {
    width: 90%;
}

.raceInfoInput__input--disabled {
    background: lightgray;
    border: lightgrey;
    color: darkgray;
}

.raceInfoInput__label {
    margin: 0;
    font-size: 12px;
}

.raceInfoInput__label--disabled {
    color: darkgray;
    font-size: 12px;
    font-style: italic;
    margin: 0;
}

.raceInfoInput_inputDiv {
    margin-left: 5px;
    width: 70%;
}