.raceInfoInput {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.raceInfoInput__button {
    width: 20%;
}

.raceInfoInput__input {
    width: 90%;
}

.raceInfoInput__input--disabled {
    background: lightgray;
    border: lightgrey;
    color: darkgray;
}

.raceInfoInput__label {
    margin: 0;
    font-size: 12px;
}

.raceInfoInput__label--disabled {
    margin: 0;
    font-size: 12px;
    color: darkgray;
    font-style: italic;
}

.raceInfoInput_inputDiv {
    width: 70%;
}