.app {
    margin-bottom: 10px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 10px;
    width: 70%;
}

.app-container {
    display: flex;
}

.links {
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
}

.header {
    background-color: #264575;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.header a {
    color: white;
}

@media (max-width: 600px) {
    .app {
        padding-left: 0px;
        width: 100%;
    }

    .app-container {
        flex-direction: column;
    }
}

@media (min-width: 601px) {
    .app {
        width: 70%;
    }
}