.app {
    /* temporary */
    outline: solid;
    background: lightpink;
}

.app__container {
    display: flex;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label {
    font-size: 12px;
    margin: 0;
}