.section {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    background-color: white;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.sectionMovers {
    min-width: 55px;
}

.sectionHeader {
    display: inline;
    margin-right: 5px;
}

@media (max-width: 600px) {
    .inputContainer {
        min-width: 350px;
        margin: 0 auto;
    }
}

@media (min-width: 601px) and (max-width: 949px) {
    .inputContainer {
        margin-right: 20px;
        min-width: 350px;
    }
}

@media (min-width: 950px) {
    .inputContainer {
        margin-right: 20px;
        min-width: 350px;
    }
}