.inputContainer {
    margin-right: 10px;
    width: 50%;
}

.section {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

.sectionMovers {
    min-width: 55px;
}

.sectionHeader {
    display: inline;
    margin-right: 5px;
}