.sourceView {
    margin-top: 15px;
    margin-left: 5px;
    min-width: 300px;
    width: 85%;
}

.sourceView__textArea {
    height: 500px;
    margin-left: 10px;
    resize: none;
    width: 100%;
}