body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f1f1f1;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 10px;
    height: 20px;
    margin: 2px;
    padding: 0;
    font-style: italic;
}

button:focus {
    outline: none;
}

h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
    margin-bottom: 5px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label {
    font-size: 12px;
    margin: 0;
}

@media (max-width: 615px) {
    .mobile-notice {
        display: block;
        top: 0;
        left: 0;
        background: salmon;
        margin: 0;
    }
}